
.vs/
build/
reports/
out/
**/bin/
**/obj/
*.user
*.diagsession
src/**/*-help.xml
src/**/*.help.txt
BenchmarkDotNet.Artifacts/
PSDocs.Benchmark*.log
.idea/.idea.PSDocs/.idea/.gitignore
.idea/.idea.PSDocs/.idea/indexLayout.xml
.idea/.idea.PSDocs/.idea/vcs.xml
