# Azure DevOps
# Build pipeline for PSDocs

trigger:
- master

pool:
  vmImage: VS2017-Win2016

variables:
  buildConfiguration: 'Release'

steps:

# Install pipeline dependencies
- powershell: ./scripts/vstsbuild.ps1
  displayName: 'Install Invoke-Build'

# Invoke build
- powershell: Invoke-Build -Configuration $(buildConfiguration)
  displayName: 'Build module'

# Publish test results
- task: PublishTestResults@2
  displayName: 'Publish test results'
  inputs:
    testResultsFormat: NUnit
    testResultsFiles: 'reports/*.xml'
    mergeTestResults: true

# Generate artifacts
- task: PublishBuildArtifacts@1
  displayName: 'Publish PSDocs module'
  inputs:
    PathtoPublish: out/modules/PSDocs
    ArtifactName: PSDocs

- task: PublishBuildArtifacts@1
  displayName: 'Publish PSDocs.Dsc module'
  inputs:
    PathtoPublish: out/modules/PSDocs.Dsc
    ArtifactName: PSDocs.Dsc
